/* General */

* {
  font-family: "K2D", "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif; 
}

body {
  margin: 0;
}


/* Containers */

.container {
  width: 90%;
  max-width: 68em;
  margin: 0 auto;
  padding: 0.5rem;
}


/* Headings */


/* Coloured sections */

.bg-blue {
  background-color: #281483;
  color: #fff;
}

.bg-white {
  background-color: #f9f9fa;
  color: #333;
}

.bg-black {
  background-color: #121112;
  color: #efefef;
}


/* Buttons */

button {
  cursor: pointer; 
  background-color: blue;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  transition: all 0.2s;
}

button a {
  color: white;
  text-decoration: none;
}

button:hover, button:focus {
  background-color: yellow;
  color: black;
  border-color: black;
}

button:hover a, button:focus a {
  color: black; 
}

.buttons {
  position: fixed;
  left: 1.2rem;
  top: 1.2rem;
}